.watch-container {
	font-size: 2em;
	width: 75%;
	height: 150px;
	padding: 20px;
	margin: 50px auto;
	background-color: #0681CD;
	color: #fff;
	overflow: auto;
	text-align: center;

}

div {
	text-align: center;
	font-size: 2em;
	margin: 200px 0;
	opacity: 0;
	transition: opacity 1s;
}

div.scroll-watch-in-view {
	opacity: 1;
}
.zoom {
        width: 600px;
        height: auto;
        transition-duration: 1s;
        transition-timing-function: ease;
      }
.zoom:hover {
        transform: scale(1.2);
      }
code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}