<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
		</style>
	</head>
	<body style="background: #f5f8fa;font-family: 'Roboto', sans-serif;">
		<div style="width: 90%;max-width:600px;margin: 20px auto;background: #ffffff;">
			<section style="margin: 0 15px;color:#425b76;">
				<h2 style="margin: 40px 0 27px 0;text-align: center;">Thank you for signing up to Gradient Boost</h2>
				<hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%"><br><br>
				<p style="font-size:15.5px;">Hi {{username}}, welcome to GradientBoost. You are one step closer to starting the amazing journey of this introduction to data science course.
                    <br><br>Our curriculum has been developed with the assistance of data science mentors working in different sectors ranging from banks to health-tech companies. We leveraged the assistance of these data scientists to give you a curriculum that is both practical and gives you enough foundational depth to give you maximum value.<br><br>
                    As someone starting off in a new field, in the work environment you can expect to mentored by someone more senior to you, with more context and experience. To replicate this process, in this program you will be assigned with a mentor who will have two weekly calls with you to help guide you through the curriculum, serve as a sounding board to help accelerate your understanding of what you are learning and help you start building a network with people working in the data-science space.<br><br>
                    In order to fully utilize the skills you learn and start building a data science portfolio you will be required to build a Capstone project with the guidance of your mentor. This will not help you practice the skills you learn, it will also give you an opportunity to work on a project of your interest that will further help grow your data-science expertise.<br><br>
                Yours Truly<br><br>
                Emmanuel Sibanda<br>
                Co-Founder of GradientBoost</p>
			</section>
		</div>
	</body>
</html>