{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="google-site-verification" content="z99TMe1tZgonnFyt5sJ_sXzQ-WuCgtWDq7L_PIoQEmM" />
	<link rel="icon" href="{% static 'img/favicon-transparent.png'%}" type="image/png">
	<title>The Gradient Boost</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'third/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'third/vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'third/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'third/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'third/vendors/owl-carousel/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'third/vendors/lightbox/simpleLightbox.css' %}">
	<link rel="stylesheet" href="{% static 'third/vendors/nice-select/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'third/vendors/animate-css/animate.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'third/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'third/css/style2.css' %}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-65796754-4"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-65796754-4');
	</script>

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s)
  	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  	n.queue=[];t=b.createElement(e);t.async=!0;
  	t.src=v;s=b.getElementsByTagName(e)[0];
  	s.parentNode.insertBefore(t,s)}(window, document,'script',
  	'https://connect.facebook.net/en_US/fbevents.js');
  	fbq('init', '688087088610267');
  	fbq('track', 'PageView');
	</script>
	<style>
		.resp-container {
			position: relative;
    		overflow: hidden;
    		padding-top: 56.25%;
		}
		.resp-iframe {
			position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		border: 0;
		}
	</style>
    <!-- submit project -->
	<style>
	* {
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	}

	#form {
	  max-width: 700px;
	  padding: 2rem;
	  box-sizing: border-box;
	}

	.form-field {
	  display: flex;
	  margin: 0 0 1rem 0;
	}
	label, input {
	  width: 70%;
	  padding: 0.5rem;
	  box-sizing: border-box;
	  justify-content: space-between;
	  font-size: 1.1rem;
	}
	label {
	  text-align: right;
	  width: 30%;
	}
	input {
	  border: 2px solid #aaa;
	  border-radius: 2px;
	}

    </style>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=688087088610267&ev=PageView&noscript=1"/></noscript>
	<!-- End Facebook Pixel Code -->
</head>

<body>

	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="header-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-sm-6 col-4 header-top-left">
						<a href=#>
							<span class="lnr lnr-envelope"></span>
							<span class="text">
								<span class="text">emmanuels@thegradientboost.com</span>
							</span>
						</a>
					</div>
					<div class="col-lg-6 col-sm-6 col-8 header-top-right">
						<a href="https://techmentor.typeform.com/to/PpUG1P" class="primary-btn text-uppercase enroll">Enroll</a>
<!--						<a href="{% url 'signup' %}" class="text-uppercase">Enroll</a>-->
                        <a href="{% url 'login' %}" class="text-uppercase">Login</a>
					</div>
				</div>
			</div>
		</div>

		<div class="main_menu">

			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
                    <img src="{% static 'second/images/learning-logo-transparent.png' %}" width="20%">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="{%url 'about' %}">How it Works</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'course_details' %}"> About the Course</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'gradient_students' %}"> Meet our Students</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://medium.com/gradientboost"> Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://learningdesk.thegradientboost.com/">Learning Desk</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'faqs' %}">FAQs</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="banner_content">
							<h2>
								Learn Data Science online
							</h2>
							<p>
								With the guidance of experienced Data Scientists as your mentors, we help you acquire skills to kick start your journey towards working in the Data Science space.
							</p>
							<a href="{% url 'course_details' %}" class="primary-btn text-uppercase">Start your Journey Today</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->
	<section class="feature_area">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-lg-4">
					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="lnr lnr-screen"></span>
						</div>
						<div class="desc">
							<h4>Learn from anywhere in Africa</h4>
						</div>
					</div>
					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="fa fa-trophy"></span>
						</div>
						<div class="desc">
							<h4>Mentor guided learning to better hone your skills</h4>
<!--							<p>-->
<!--								Leverage the experience of data scientists and data engineers working in companies such as ABSA, Telkom and HealthQ.-->
<!--							</p>-->
						</div>
					</div>
					<div class="single_feature d-flex flex-row" style="background: rgb(61,200,6);background: linear-gradient(90deg, rgba(61,200,6,1) 0%, rgba(51,238,5,0.9018001618122977) 54%, rgba(18,244,0,0.6040655339805825) 100%);">
						<div class="icon">
							<span class="lnr lnr-book"></span>
						</div>
						<div class="desc">
							<h4>Start building your data science portfolio</h4>
						</div>
					</div>
				</div>
		</div>
	</section>
	<!--================ End Feature Area =================-->

	<!--================ Start Department Area =================-->
	<div class="department_area section_gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="dpmt_courses">
						<div class="row">
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="{% static 'third/img/dpmt/sql.png' %}" alt="">
									</div>
									<h4>SQL</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="{% static 'third/img/dpmt/comms.png' %}" alt="">
									</div>
									<h4>Business Comms</h4>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
							<!-- single course -->
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="{% static 'third/img/dpmt/code.png' %}" alt="">
									</div>
									<h4>Programming</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="{% static 'third/img/dpmt/statistics.png' %}" alt="">
									</div>
									<h4>Statistics</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="{% static 'third/img/dpmt/data.png' %}" alt="">
									</div>
									<h4>Data Engineering</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="{% static 'third/img/dpmt/machine-learning.png' %}" alt="">
									</div>
									<h4>Machine Learning</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="{% static 'third/img/dpmt/clean.png' %}" alt="">
									</div>
									<h4>Data Cleaning</h4>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="dpmt_right">
						<h1>Learn Data Science</h1>
						<p>We live in a world that is increasingly becoming more data driven. Data has become the language of communication. Acquiring the necessary skills to derive insights from data gives you access to not only high paying career options, but jobs that can allow you to work remotely, the ability to understand what data science is and use that to guide important decision making in your organization and the ability to use your skills to work entirely as a freelancer or to start your own analytics business. <br><br>
                            Our introductory course has been carefully designed with the assistance of experienced data scientists working in companies across Africa giving you a solid foundation.
						<a href="{% url 'course_details' %}" class="primary-btn text-uppercase">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Department Area =================-->

	<!--================ Start Popular Courses Area =================-->
	<div class="popular_courses lite_bg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="main_title">
                        <h2>Earn internships from companies such as:</h2>
						<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
							<div class="position-relative">
								<a href="https://www.spacepen.tech/"><img class="img-fluid" src="{% static 'third/img/companies/spacepen.jpg' %}" style="margin:70px;width:auto;height:auto;position:relative;" alt=""></a>
                                <a href="https://sparkle.ng/"><img class="img-fluid" src="{% static 'third/img/companies/sparkle.png' %}" style="margin:70px;width:auto;height:auto;position:relative;" alt=""></a>
							</div>
						</div>
                        <br/>
<!--						<a href="{% url 'signup' %}" class="primary-btn text-uppercase enroll">Enroll Today</a>-->
                        <a href="{% url 'course_details' %}" class="primary-btn text-uppercase">Enroll Today</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Popular Courses Area =================-->

	<!--================ Start Fact Area =================-->
	<div class="fact_area overlay">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="main_title">
						<h2>Why choose Gradient Boost?</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single features -->
				<div class="col-lg-4 col-md-6">
					<div class="single_fact">
						<div class="f_icon">
							<img src="{% static 'third/img/f-icons/icon1.png' %}" alt="">
						</div>
						<h4>Learn with the guidance of a mentor</h4>
						<p>Mentors make learning a lot easier and more practical. The Gradient Boost gives you access to two weekly mentorship sessions from mentors who work as data scientists across Africa to help you hone your skills. You will also have access to weekly tutorials led by Data Scientists, Hiring Managers and Recruiters from around the world.</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-4 col-md-6">
					<div class="single_fact">
						<div class="f_icon">
							<img src="{% static 'third/img/f-icons/icon2.png' %}" alt="">
						</div>
						<h4>Industry guided curriculum</h4>
						<p>Our curriculum was built with input from data scientists throughout Africa to create more realistic and practical learning material. Our curriculum is updated consistently to remain relevant to trends emerging in Data Science both regionally and globally.</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-4 col-md-6">
					<div class="single_fact">
						<div class="f_icon">
							<img src="{% static 'third/img/f-icons/icon3.png' %}" alt="">
						</div>
						<h4>Earn an internship</h4>
						<p>We have partnered with companies to offer internships to some learners that complete our Introduction to Data Science program.</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-4 col-md-6">
					<div class="single_fact">
						<div class="f_icon">
							<img src="{% static 'third/img/f-icons/icon4.png' %}" alt="">
						</div>
						<h4>Project based learning</h4>
						<p>We work with you to build your data science portfolio to better showcase your skills and differentiate yourself from other candidates in the job market.</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-4 col-md-6">
					<div class="single_fact">
						<div class="f_icon">
							<img src="{% static 'third/img/f-icons/icon5.png' %}" alt="">
						</div>
						<h4>Learn at your own pace</h4>
						<p>Some people learn quickly, some need more time to master a topic. Learn at a pace that is both appropriate for your learning style and schedule.</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-4 col-md-6">
					<div class="single_fact">
						<div class="f_icon">
							<img src="{% static 'third/img/f-icons/cash.png' %}" alt="">
						</div>
						<h4>Affordability</h4>
						<p>Our course is priced to be affordable to all students with payment plans available to increase access.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Fact Area =================-->

	<!--================ Start Testimonial Area =================-->
<!--	<div class="section_gap testimonial_area">-->
<!--		<div class="container">-->
<!--			<div class="row justify-content-center">-->
<!--				<div class="col-lg-10 text-center">-->
<!--                    <header class="section-header">-->
<!--                        <h3>-->
<!--                            Some of our mentors work in these companies-->
<!--                        </h3>-->
<!--                    </header>-->

<!--					<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">-->
<!--						<div class="position-relative">-->
<!--							<img class="img-fluid" src="{% static 'third/img/companies/nielsen.png' %}" style="margin:70px;width:auto;height:auto;position:relative;" alt="">-->
<!--						</div>-->
<!--						<div class="overlay-grad"></div>-->
<!--						<div class="position-relative">-->
<!--							<img class="img-fluid" src="{% static 'third/img/companies/datahacker.png' %}" style="height:auto;width:auto;position:relative;" hspace="50"  alt="">-->
<!--						</div>-->
<!--&lt;!&ndash;						<div class="position-relative">&ndash;&gt;-->
<!--&lt;!&ndash;							<img class="img-fluid" src="{% static 'third/img/companies/onefinance.png' %}" hspace="100" style="width=auto;height:auto" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;						</div>&ndash;&gt;-->
<!--						<div class="overlay-grad"></div>-->
<!--						<div class="overlay-grad"></div>-->
<!--						<div class="position-relative">-->
<!--							<img class="img-fluid" src="{% static 'third/img/companies/thoroughtec.png' %}" hspace="150" style="width=auto;height:auto;position:relative;" alt="">-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
{#    <section id="clients" class="wow fadeInUp">#}
{#      <div class="container">#}
{##}
{#        <header class="section-header">#}
{#          <h3>Our mentors work in these companies</h3>#}
{#        </header>#}
{##}
{#        <div class="owl-carousel clients-carousel">#}
{#          <img src="{% static 'third/img/companies/absa.png' %}" alt="">#}
{#          <img src="{% static 'third/img/companies/healthq.png' %}" alt="">#}
{#          <img src="{% static 'third/img/companies/telkom.jpeg' %}" alt="">#}
{#          <img src="{% static 'third/img/companies/nestmetric.png' %}" alt="">#}
{#          <img src="{% static 'third/img/companies/graychain.png' %}" alt="">#}
{#          <img src="{% static 'third/img/companies/umuzi1.png' %}" alt="">#}
{#          <img src="{% static 'third/img/companies/african.jpg' %}" alt="">#}
{#        </div>#}
{##}
{#      </div>#}
{#    </section>#}

	<!--================ End Testimonial Area =================-->

	<!--================ Start Registration Area =================-->
	<div class="section_gap registration_area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7">
					<div class="row clock_sec clockdiv" id="clockdiv">
						<div class="col-lg-12">
							<h1>A sample of what to expect</h1>
							<p>Want to see a sample of some our workshops and tutorial?</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-1">
					<div class="register_form">
						<h3>Check out some of our tutorials and workshops</h3>
<!--						<p>Take charge of your career Today!</p>-->
                        <a class="primary-btn text-uppercase" href="https://www.youtube.com/channel/UC329k8dt-DbfbUINUKjtr8A">View</a>
<!--						&lt;!&ndash; modal for workshops &ndash;&gt;-->
<!--                                <div class="modal fade" id="workshops" role="dialog">-->
<!--                                    <div class="modal-dialog modal-lg">-->
<!--											<div class="modal-content">-->
<!--&lt;!&ndash;												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>&ndash;&gt;-->
<!--												<div class="modal-header">-->
<!--													<h4 class="modal-title">-->
<!--														A sample of some our workshops and tutorials-->
<!--													</h4>-->
<!--												</div>-->
<!--												<div class="modal-body">-->
<!--													<div class="resp-container">-->
<!--													&lt;!&ndash; one &ndash;&gt;-->
<!--														<iframe id="yt-player" class="resp-iframe" src="https://www.youtube.com/embed/-EX-zHVVSI8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--													</div>-->
<!--													&lt;!&ndash; two &ndash;&gt;-->
<!--													<div class="resp-container">-->
<!--														<iframe class="resp-iframe" src="https://www.youtube.com/embed/bUPg5BZj7dY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--													</div>-->
<!--&lt;!&ndash;													<span onclick="stopVideo(this.getAttribute('vdoId'))" vdoId="resp-iframe" id="CloseModalButton" data-dismiss="modal"></span>&ndash;&gt;-->
<!--												</div>-->
<!--											</div>-->
<!--										</div>-->
<!--									</div>-->
<!--								</div>-->

{#						<form class="form_area" id="myForm" action="mail.html" method="post">#}
{#							<div class="row">#}
{#								<div class="col-lg-12 form_group">#}
{#									<input name="name" placeholder="Your Name" required="" type="text">#}
{#									<input name="name" placeholder="Your Phone Number" required="" type="tel">#}
{#									<input name="email" placeholder="Your Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"#}
{#									 required="" type="email">#}
{#								</div>#}
{#								<div class="col-lg-12 text-center">#}
{#									<button class="primary-btn">Submit</button>#}
{#								</div>#}
{#							</div>#}
{#						</form>#}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- media mention -->
	<div class="section_gap testimonial_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 text-center">
                    <header class="section-header">
                        <h3>
                            As featured on:
                        </h3>
                    </header>

					<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
						<div class="position-relative">
							<a href="https://www.techzim.co.zw/2020/05/want-to-learn-about-data-science-but-youre-not-sure-where-to-start-this-course-could-be-of-use/"><img class="img-fluid" src="{% static 'second/images/techzim.png' %}" style="margin:70px;width:auto;height:auto;position:relative;" alt=""></a>
                            <a href="https://disrupt-africa.com/2020/05/online-mentor-guided-data-science-school-launched-in-sa/"><img class="img-fluid" src="{% static 'second/images/disrupt-africa.png' %}" style="margin:70px;width:auto;height:auto;position:relative;" alt=""></a>
                            <a href="https://techmoran.com/2020/05/08/sas-the-gradient-boost-unveils-an-online-mentor-guided-data-science-school-for-africa/"><img class="img-fluid" src="{% static 'second/images/techmoran.png' %}" style="margin:10px;width:auto;height:auto;position:relative;" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Registration Area =================-->
	<div class="popular_courses lite_bg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<center>
						<header class="section-header">
                        <h2>Get coding and stats challenges on your WhatsApp daily</h2>
						</header>
						<p>We built a free WhatsApp bot where you can access 5 coding and stats challenges daily. You will also have access to our Slack where you can post any challenges you are encountering and your solutions for feedback from our mentors and community</p>
                        <br/>
                        <a href="https://mailchi.mp/3d8ff96b57cf/gradientboostwhatsappbot" class="primary-btn text-uppercase">Sign me up!</a>
					</center>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="e4a2d467-23ba-4bb9-a96d-b55981ad90b3";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>


	<!--================ Start footer Area  =================-->
	<footer class="footer-area section_gap">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><strong>Built by <a href="http://hooros.co.za/">Hooros Digital</a></strong> GradientBoost &copy; Copyright 2020</p>
                <div class="col-lg-4 col-sm-12 footer-social">
					<a href="https://www.facebook.com/thegradientboost/"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/gradient_the"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/company/37551624/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/the_gradient_boost/"><i class="fa fa-instagram"></i></a>
					<a href="https://www.youtube.com/channel/UC329k8dt-DbfbUINUKjtr8A?view_as=subscriber"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </footer>
	<!--================ End footer Area  =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'third/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'third/js/popper.js' %}"></script>
	<script src="{% static 'third/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'third/js/stellar.js' %}"></script>
	<script src="{% static 'third/js/countdown.js' %}"></script>
	<script src="{% static 'third/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'third/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'third/js/owl-carousel-thumb.min.js' %}"></script>
	<script src="{% static 'third/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'third/vendors/counter-up/jquery.counterup.js' %}"></script>
	<script src="{% static 'third/js/mail-script.js' %}"></script>
    <script src="{% static 'third/js/main.js' %}"></script>
<!--	<script>-->
<!--		$('#workshops').on('hide.bs.modal', function () {-->
<!--			stopVideo("resp-iframe");-->
<!--		});-->
<!--	</script>-->
	<script type="text/javascript">
		$('#workshops').on('hidden.bs.modal', function () {
			callPlayer('yt-player', 'stopVideo');
		});
	</script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'third/js/gmaps.min.js' %}"></script>
	<script src="{% static 'third/js/theme.js' %}"></script>
</body>

</html>