{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Gradient Boost</title>
	<link rel="stylesheet" href="{% static 'second/css/app/book.css' %}">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/scrollwatch@2.0.1/dist/ScrollWatch-2.0.1.min.js"></script>
	<script src="{% static 'second/js/app/book.js' %}" defer></script>
</head>
</br>

<div data-scroll-watch><center><img src="{% static 'third/img/logo.png' %}" width="50%"></center></br></br>We have reproduced these notes from the books <b><i>Think Stats: Probability and Statistics for Programmers</i></b> and <b><i>OpenIntro Statistics</i></b>. We have added some annotations to give you more context and make concepts more relatable. We have also included modals that you can interact with to show you the Python equivalent for certain functions. Enjoy your learning!</div></br></br></br></br>

</br><h2><div data-scroll-watch>Descriptive Statistics</div></h2></br></br>
</br></br><div data-scroll-watch>Let's start off by looking at the difference between different data types</div></br></br>
</br></br><div data-scroll-watch><center><img src="{% static 'second/images/learningmaterial/data_types.png' %}"></center></div></br></br>

	</br></br><h2><div data-scroll-watch>Mean and averages</div></h2></br></br>
</br></br><div data-scroll-watch>If you have a sample of n values, xi, the mean, µ, is the sum of the values divided by the number of values; in other words</div></br></br>
</br></br><div data-scroll-watch><img src="http://latex.codecogs.com/gif.latex?\mu  = \frac{1}{n}\sum_{i} x_{i}" border="0"/></div></br></br>
</br></br><div data-scroll-watch>The words “mean” and “average” are sometimes used interchangeably, but
	I will maintain this distinction:
		<ol>
			<li>The “mean” of a sample is the summary statistic computed with the
				previous formula.</li>
			<li>An “average” is one of many summary statistics you might choose to
				describe the typical value or the central tendency of a sample</li>
	</ol>
	</div></br></br>
<div data-scroll-watch>Let's see how we would write this function out in Python</br>
<code>
def mean_func(nums):
    return sum(nums)/len(nums)
</code>
</div></br></br>
</br></br><div data-scroll-watch>The logic is fairly simply, the function takes in some input, which could be a single value or list of values, sum the value(s) and divide the total by the length of the value(s). Got it?</br><b>Try it yourself</b></div></br></br>
</br></br><<iframe height="400px" width="100%" src="https://repl.it/@EmmS21/Median?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="false" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe></div></br></br>
	</br></br><div data-scroll-watch>Sometimes the mean is a good description of a set of values. For example,
apples are all pretty much the same size (at least the ones sold in supermarkets). So if I buy 6 apples and the total weight is 3 pounds, it would be a
		reasonable summary to say they are about a half pound each.</div></br></br>
	</br></br><div data-scroll-watch>But pumpkins are more diverse. </br>Suppose I grow several varieties in my
garden, and one day I harvest three decorative pumpkins that are 1 pound each, two pie pumpkins that are 3 pounds each, and one Atlantic Giant® pumpkin that weighs 591 pounds. The mean of this sample is 100
pounds, but if I told you “The average pumpkin in my garden is 100
	pounds,” that would be wrong, or at least misleading.</br>In this example, there is no meaningful average because there is no typical
pumpkin.</div></br></br>
	</br></br>
	</br></br><h2><div data-scroll-watch>Variance</div></h2></br></br>
	</br></br><div data-scroll-watch>If there is no single number that summarizes pumpkin weights, we can do
		a little better with two numbers: mean and variance.</br>
	In the same way that the mean is intended to describe the central tendency, variance is intended to describe the spread.</br>Another way think about variance a measure of how spread out the values in a list of values are from the mean. </br>The variance of a set of values
		is</div></br></br>
</br></br><div data-scroll-watch><img src="http://latex.codecogs.com/gif.latex?\mu  = \sigma^{2} = \frac{1}{n}\sum_{i}(X_i - \mu)^{2}" border="0"/></div></br></br>
</br></br><div data-scroll-watch>The term xi
 -µ is called the “deviation from the mean,” so variance is the
mean squared deviation, which is why it is denoted σ
2. The square root of
	variance, σ, is called the <b>standard deviation</b>.</div></br></br>
</br></br><div data-scroll-watch>By itself, variance is hard to interpret. One problem is that the units are
strange; in this case the measurements are in pounds, so the variance is in
pounds squared. Standard deviation is more meaningful; in this case the
	units are pounds.</div></br></br>
	</br></br><div data-scroll-watch>If you have prior experience, you might have seen a formula for variance
with n − 1 in the denominator, rather than n. This statistic is called the
“sample variance,” and it is used to estimate the variance in a population
using a sample</div></br></br>
</br></br><div data-scroll-watch=>Let's think about how we would write this out in Python, let us <b>pseudocode</b> a potential solution</div></br></br>
</br></br><div data-scroll-watch>To get the variance you want to start off by subtract the mean from each value in our set, and then proceed to square the differences, add the squared differences and finally divide the total by the length of the set of values minus 1</div></br></br>
</br></br><div data-scroll-watch><h4>Got it?</h4></div></br></br>
</br></br><div data-scroll-watch>Great. Now try right out yourself</div></br></br>
</br></br><div data-scroll-watch><iframe height="400px" width="100%" src="https://repl.it/@EmmS21/variance?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="false" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe></div></br></br>
</br></br><div data-scroll-watch><h2>Standard Deviation</h2></div></br></br>
</br></br><div data-scroll-watch>Standard deviation measures the spread of the data relative to the mean. The standard deviation is calculated by taking the square root of the variance.</div></br></br>
</br></br><div data-scroll-watch>The standard deviation represents the typical deviation of observations in a dataset from the mean.</div></br></br>
</br></br><div data-scroll-watch>Let's define the formula</div></br></br>
</br></br><div data-scroll-watch><img src="http://latex.codecogs.com/gif.latex?\sigma = \sqrt{\frac{\sum(x_i - \mu )^2}{N} }"></div></br></br>
</br></br><div data-scroll-watch>Great, so what does this mean?</div></br></br>
</br></br><div data-scroll-watch>Well, we are going to start off by finding the mean. For each number in our list we will subtract the mean and square the result. We will then workout the mean of these results and take the square root of the total amount</div></br></br>
</br></br><div data-scroll-watch>Think you can translate this into Python?</div></br></br>
</br></br><div data-scroll-watch>I believe in you, try it out</div></br></br>
</br></br><div data-scroll-watch><iframe height="400px" width="100%" src="https://repl.it/@EmmS21/standarddeviation?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe></div></br></br>
</br></br><div data-scroll-watch><h2>Inter-Quartile Range</h2></div></br></br>
</br></br><div data-scroll-watch>The inter-quartile range is a measurement describing where the bulk of the values lie in a set of values.</div></br></br>
</br></br><div data-scroll-watch>This is calculated by subtracting the first quartile from the third quartile. NOTE: Quartiles are values that divide a set of values into quarters.</div></br></br>
</br></br><div data-scroll-watch>Fairly straight forward right? We can see the quartiles of a dataset by using <code>df.describe()</code>. With df being the name of the dataframe you are dealing with. You could alternatively use numpy <code>np.quantile(arr, .50))</code>. This would return Quartile 2 of a given dataset</div></br></br>
</br></br><div data-scroll-watch><h2>Range</h2></div></br></br>
</br></br><div data-scroll-watch>The range is defined as a single value that is the difference between the largest and smallest values in a set of values.</div></br></br>
</br></br><div data-scroll-watch>Luckily, you will not have to rebuild this functions in practice. There are a lot of packages available such as NumPy that let you compute these and other measures with great ease. Its just always good to fully understand the logic behind everything you are doing.</div></br></br>
</br></br><div data-scroll-watch><center><img src="{% static 'third/img/logo.png' %}" width="50%"></center></br>
<h3><a href="{% url 'students:descriptive_two' %}" class="btn btn-primary btn-lg btn-block">Next Topic: Descriptive Statistics using Graphs</a></h3></div></br></br>
<div data-scroll-watch><h3><a href="{% url 'students:app-student-dashboard' %}" class="btn btn-primary btn-lg btn-block">Back to your Dashboard</a></h3></div>
</body>
</html>